@mixin background-graded-image {
	content: "";
	position: fixed;
	width: 40%;
	height: 40%;
	bottom: 0;
	right: 0;
	opacity: 0.4;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: 100%;
}
