@import '_mixins';

.kt-media {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.kt-body {
		margin-right: 10px;
		margin-left: 10px;
	}
}

.Toastify__toast-container {
	margin-top: 75px;
}

.kt-title {
	line-height: 44px;
	font-size: 72px;
}

.rw-calendar {
	width: 100%;
	border: none !important;
	.rw-cell {
		border-radius: 50%;
		&.rw-state-selected {
			background-color: $primary;
			border-color: $primary;
			color: $black;
		}
	}
}

.react-timekeeper {
	width: 100% !important;
	box-shadow: none !important;
	.react-timekeeper__top-bar {
		padding: 10px 16px 0px;
	}
	.react-timekeeper__clock-wrapper {
		padding: 0 !important;
	}
}

.kt-main-content {
	margin-top: 75px;
}

.pac-container {
	z-index: 1050;
}

.nav {
	.nav-item {
		cursor: pointer;
	}
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: grey;
	background-image: -webkit-linear-gradient(
		45deg,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent
	);
}
