@import '_mixins';

.kt-media {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.kt-body {
		margin-right: 10px;
		margin-left: 10px;
	}
}

.Toastify__toast-container {
	margin-top: 75px;
}

.kt-title {
	line-height: 44px;
	font-size: 72px;
}

.rw-calendar {
	width: 100%;
	border: none !important;
	.rw-cell {
		border-radius: 50%;
		&.rw-state-selected {
			background-color: $primary;
			border-color: $primary;
			color: $black;
		}
	}
}

.react-timekeeper {
	width: 100% !important;
	box-shadow: none !important;
	.react-timekeeper__top-bar {
		padding: 10px 16px 0px;
	}
	.react-timekeeper__clock-wrapper {
		padding: 0 !important;
	}
}

.pac-container {
	z-index: 1050;
}
